# Gemini API Key for WSM AI Hub backend chat capability
GEMINI_API_KEY=

# Fallback Gemini API Key in case the first one hits limits
GEMINI_API_KEY_2=

# Tavily API Key for the search web functionality
TAVILY_API_KEY=
