# Gemini API Key for WSM AI Hub backend chat capability
IA_API_KEY=

# Fallback Gemini API Key in case the first one hits limits
IA_API_KEY_2=

# Additional Fallback Gemini API Key 3
IA_API_KEY_3=

# Tavily API Key for the search web functionality
TAVILY_API_KEY=

# Chave de API do Resend (https://resend.com) para envio de relatórios de tarefas agendadas por e-mail
RESEND_API_KEY=
RESEND_FROM_EMAIL=WSM Agendamentos <onboarding@resend.dev>

# Ou Servidor SMTP para envio de e-mails alternativo
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_SECURE=false
SMTP_FROM_NAME=WSM 1.6 Pro
SMTP_FROM_ADDRESS=
