# Gemini API Key for WSM AI Hub backend chat capability
IA_API_KEY=

# Fallback Gemini API Key in case the first one hits limits
IA_API_KEY_2=

# Additional Fallback Gemini API Key 3
IA_API_KEY_3=

# Tavily API Key for the search web functionality
TAVILY_API_KEY=
